@import "tailwindcss";

@theme {
  --color-primary: #1E3A5F;
  --color-accent: #E74C3C;
  --color-secondary: #2E75B6;
  --color-success: #27AE60;
  --color-warning: #E67E22;
  --color-danger: #E74C3C;
  --color-background-main: #F5F7FA;
}

body {
  background-color: var(--color-background-main);
  color: var(--color-primary);
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow: hidden; /* Prevent body scrolling entirely */
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
